# Operating system files
.DS_Store
Thumbs.db

# Editor files
.vscode/

# Logs
*.log

# Environment variables / secrets
.env
.env.*
!.env.example

# Dependencies
node_modules/

# Build output
dist/
build/

# Temporary files
*.tmp
*.temp